:root {
    $primaryTextColor: #212121;
    --text-color: #757575;
    --accent-color: #2196f3;
    --color-contacts: rgba(255, 255, 255, 0.6);
    --primary-color-white: #ffffff;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }